@import './variables.scss';
@import './reset.scss';
@import './index.scss';

body {
  font-family: var(--font-hammer);
  color: var(--color-text-main);

  background-color: var(--bg-color-banner);
}


