@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
  // colors
  --color-text-main: #000;
  --color-text-secondary: #fff;
  --color-text-link: #6b5f5f;
  --color-hover-effect: #3a3838;

  //backgrounds
  --bg-color-main: #968d70;
  --bg-color-main-opacity: #968d70cd;
  --bg-color-secondary: #7a7f69;
  --bg-color-button: #000;
  --bg-color-header: hsla(0, 0%, 100%, 0.5);
  --bg-color-menu: #000000dc;
  --bg-color-banner: #e5e5e5;

  // fonts
  --font-hammer: 'Hammersmith One', sans-serif;
}
