@import "src/app/styles/mixins.scss";

.form {
  border-radius: toRem(30);
  background: #e5e5e5;

  width: min(toRem(586), 100%);

  @include adaptiveValue(padding-top, 39, 15, 0, 434.98, 360);
  @include adaptiveValue(padding-bottom, 39, 15, 0, 434.98, 360);
  @include adaptiveValue(padding-right, 43, 20, 0, 434.98, 360);
  @include adaptiveValue(padding-left, 43, 20, 0, 434.98, 360);

  h2 {
    font-size: 32px;
    line-height: normal;

    margin-bottom: toRem(25);
  }

  .inputs {
    display: grid;

    @include adaptiveValue(row-gap, 22, 15, 0, 434.98, 360);
  }

  input {
    width: 100%;

    padding: toRem(15) toRem(25);
    border-radius: 10px;

    font-size: 1rem;
    line-height: normal;

    &::placeholder {
      color: #776c6c;
    }
  }
}

.link {
  margin-top: toRem(18);

  font-size: 0.75rem;

  a {
    color: var(--color-text-link);
    text-decoration: underline;
  }
}
