@import 'src/app/styles/mixins.scss';

.link {
  color: var(--color-text-secondary);
  font-size: 2.25rem;

  background-color: var(--bg-color-button);

  text-decoration: none;
  border-radius: 0.625rem;
  
  padding: toRem(21) toRem(102);
  @include adaptiveValue(padding-right, 102, 70, 0, 991.98, 768);
  @include adaptiveValue(padding-left, 102, 70, 0, 991.98, 768);
}
