@import "src/app/styles/mixins";

.slide {
  position: relative;

  &_container {
    max-width: $containerMaxWidth + px;
    
    margin: 0 auto;
  }

  &_body {
    display: flex;

    text-align: right;
    background-color: var(--bg-color-banner);
  }

  &_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;

    width: 44%;

    &.services {
      background-image: url("../../../../public/images/intro-slider/doctor&client.webp");
    }
    &.reviews {
      order: 2;
      background-image: url("../../../../public/images/intro-slider/doctor&client2.webp");
    }
    &.about {
      background-image: url("../../../../public/images/intro-slider/doctor&child.webp");
    }
  }

  &_info {
    width: 56%;

    padding-left: 6.4%;
    padding-right: 1.25rem;

    text-align: right;

    &.reviews {
      order: 1;

      text-align: left;
      @include adaptiveValue(padding-left, 122, 0, 0, 1280, 1064);
    }
  }

  &_title {
    margin-top: toRem(259);
    margin-bottom: 1rem;

    max-width: toRem(514);
    @include adaptiveValue(font-size, 64, 32, 0, 1024);
  }

  &_button {
    padding: toRem(21) toRem(83);
    margin-bottom: toRem(257);
    @include adaptiveValue(margin-right, 101, 0, 0, 1319, 1115);

    @include adaptiveValue(font-size, 36, 24, 0, 1024);
  }

  @media (max-width: 767.98px) {
    &_img {
      width: 100%;
      height: 100vh;

      background-position: center center;
    }

    &_info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: 5;

      background-color: var(--bg-color-banner);
      border-radius: 1.25rem;

      @include adaptiveValue(width, 500, 300, 0, 767.98);

      &.services,
      &.reviews {
        text-align: center;
        padding: 1.5rem 1rem;
      }

      h2 {
        margin-top: 0;
      }

      button {
        margin-bottom: 0;
        max-width: 100%;
      }
    }
  }
}
