@import "src/app/styles/mixins.scss";

.social {
  ul {
    display: grid;
    row-gap: 1rem;

    a {
      display: flex;
      align-items: center;
      column-gap: toRem(10);

      svg {
        width: 1.875rem;
        height: 1.875rem;
      }

      p {
        color: var(--color-text-main);

        font-family: var(--font-hanuman);
        font-weight: 400;
        @include adaptiveValue(font-size, 24, 12);
      }
    }
  }
}
